/**
 TABLE OF CONTENTS - CONSTRUCTION OF RIGHT COLOUMN OF THE BLOG SESSION

 BLOG_SESSION............size of the blog session 
 RIGHT_COLOUMN...........size of the right coloumn of the blog session
 ARTICLE_SUMMERY.........size, layout and typography of the BLUE box
 ARTICLE_DETAILS.........size, layout and typography of the box with picture and text
    WRAPPER
    WRAPPER_ARTICLE
    WRAPPER_IMG
    ARTICLE_IMG
    ARTICLE_TEXT
 VIEW_NEWS...............size, layout and typhography of the view all (see all) box
 CATEGORIES_BOX..........size, layout and typhography of the categories box
 */
 
.blog_session{
  width: 69.375%;
  height: 100%;
  /*background-color: antiquewhite;*/
  margin-left: auto;
  margin-right: auto;
}

.right_coloumn{
  width: 31.5315%;
  height: 100%;
  /*background-color: aquamarine;*/
}

.article_summery{
  width: 100%;
  height: 3.75rem;
  background-color: #6200EA;
  border-radius: .9375rem .9375rem 0 0;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-size: .75rem;
  font-weight: bold;
}

.article_details{
  width: 100%;
  height: 10rem;
  background-color: #FFFFFF;
}

.wrapper{
  height: 7.5rem;
  width: 88.5714%;
  /*background-color: antiquewhite;*/
}

.wrapper_article{
  height: 100%;
  width: 61.29%;
  /*background-color: aquamarine;*/
  float: right;
}

.wrapper_img{
  height: 100%;
  width: 38.71%;
  /*background-color: azure;*/
}


.article_img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .625rem;
}

.article_text{
  width: 48.57%;
  height: 3.75rem;
  /*background-color: aquamarine;*/
}

h3{
  display: inline-block;
  font-size: .75rem;
  color: #6200EA;
  text-transform: uppercase;
  letter-spacing: .15rem;
  font-weight: bold;
  margin-left: 10.52%;
  margin-bottom: 10.71%;
}

h4{
  display: inline-block;
  font-size: .875rem;
  color: #211138;
  margin-left: 10.52%;
  width: 90%;
  height: 4.5rem;
  overflow: hidden;
}

.view_news{
  width: 100%;
  height: 3.75rem;
  background-color: #FFFFFF;
  border-radius: 0 0 .9375rem .9375rem;
  border-top: 1px solid #F4F3F5;
  letter-spacing: .15rem;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}

.font_color{
  color: #B2ACBA;
}

.categories_box{
  width: 100%;
  height: 3.125rem;
  background-color: #FFFFFF;
  color: #211138;
  font-size: .75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .15rem;
  padding-left: 8.5714%;
  border-bottom: 1px solid #F4F3F5;
}

.margin_bottom_last{
  margin-bottom: 16.25rem;
}